<head>

</head>

<body>
    <h1>Para cambiar de vista ingrese</h1><br>
    <ul>
        <li>"/inicio" para ir a inicio</li>
        <li>"/galeria" para ir a galeria</li>
        <li>"/videos" para ir a videos</li>
    </ul>
</body>